{% extends 'base.html' %}

{% block meta %}
<title>Pembuatan Tugas</title>
{% endblock meta %}

{% block content %}  

<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'create_task.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
</head>

<div class = "set-responsive">
    <div class = "create_task">
        
        <div class="title">Formulir Tugas</div>
        <div class="subtitle">Silahkan tambah tugas anda</div>

        <form method="POST" action="">
            {% csrf_token %}
            <table>
                <div class="input-container ic1">
                    <input name="title" class="input" type="text" placeholder=" " />
                    <div class="cut"></div>
                    <label for="name" class="placeholder">Nama Tugas</label>
                </div>
                <div class="input-container ic2">
                    <input name="description" class="input" type="text" placeholder=" " />
                    <div class="cut"></div>
                    <label for="description" class="placeholder">Deskripsi</label>
                </div>
                <tr>
                    <button type="text" class="submit">Buat Tugas</button>
                </tr>
            </table>
        </form>
    <div>
</div>

{% endblock content %}   