{% extends 'base.html' %}

{% block meta %}
<title>Login</title>
{% endblock meta %}

{% block content %}

<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'login.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
</head>

<div class = "login">

    <div class="title">Selamat Datang!</div>
    <div class="subtitle">Silahkan login akun anda</div>

        <form method="POST" action="">
            {% csrf_token %}
            <table>
                <div class="input-container ic1">
                    <input name="username" class="input" type="text" placeholder=" " />
                    <div class="cut"></div>
                    <label for="username" class="placeholder">Username</label>
                </div>
                <div class="input-container ic2">
                    <input name="password" class="input" type="password" placeholder=" " />
                    <div class="cut"></div>
                    <label for="password" class="placeholder">Password</label>
                </div>
                <tr>
                    <button type="text" class="submit">Login</button>
                    </div>
                </tr>
            </table>
        </form>

        <div class="signup_link">
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}     
        
            Belum mempunyai akun? <a href="{% url 'todolist:register' %}">Buat Akun</a>
        </div>
        
        </setfield>
</div>

{% endblock content %}