* {
    font-family: 'Poppins', sans-serif;
  }

    body {
        margin-top: 32px;
        text-align: center;
        background-color: #000;
        min-height: 100%;
    }

    .title {
        color: #eee;
        font-family: sans-serif;
        font-size: 36px;
        font-weight: 600;
        margin-top: 30px;
    }

    .new-task-button {
        background-color: #08d;
        padding: 10px 30px;
        border: none;
        border-radius: 6px;
        font-size: 14px;
        font-weight: bold;
    }

    .new-task-button:hover {
        background-color:  #14666f;
        color:rgb(255, 255, 255);
        cursor: pointer;
    }  
    
    .logout-button {
        background-color: #e05d43;
        padding: 10px 30px;
        border: none;
        border-radius: 6px;
        font-size: 14px;
        font-weight: bold;
    }

    .logout-button:hover {
        background-color:  #b64548; 
        color:rgb(255, 255, 255);
        cursor: pointer;
    }

    .task-card {
        width: 700px;
        box-shadow: 2px 3px 2px rgba(0,0,0,0.2);
        background-color: #15172b;
        color: #eee;
        transition: 0.3s;
        border-radius: 10px;
        padding: 10px; 
        margin: 10px auto;
    }
    
    .task-card:hover {
        box-shadow: 0 8px 14px 0 #735d95;
    }
    
    .task-title {
        color: #eee;
        text-align: left;
        padding-left: 20px;
        font-size: 20px;
        font-weight: bold;
    }
    
    .task-description {
        color: #eee;
        text-align: left;
        padding-left: 20px;
        font-size: 16px;
    }
    
    .task-date {
        color: #eee;
        text-align: left;
        padding-left: 20px;
        font-size: 16px;
    }
    
    .task-status {
        text-align: left;
        padding-left: 20px;
        font-size: 16px;
    }
    
    .button-task {
        display: flex;
        justify-content: flex-end;
        padding: 20px;
    }
    
    .button {
        border: 0px;
        background-color: #91dee8;
        padding: 10px;
        font-size: 14px;
        border-radius: 5px;
        margin-right: 5px;
        font-weight: bolder;
        box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.2);
    }
    
    .button:hover {
        background-color: #14666f;
        cursor: pointer;
        color: #ffffff;
    }
    
    .responsive {
        display: flex;
        justify-content: center;
    }